*{
margin:0;
}

header{
background-color: white;
}

body{
background-color:#f6f8f9 ;
}

#logoset , .verticalalign{
vertical-align: middle;
}

.verticalalign{

    font-size: 40px;

}

main{
    background-color: #f6f8f9;
    margin-top:50px;


}


.container{

    width: 80%;
    margin: 50px auto 0 auto;
    background-color: white;
    margin-top:5px;
    padding:.5em;
}

.container.add{
    border-radius: 3px 3px 0px 0px  ;
} 

#buttontask{
color:white;
background-color: #47adf1;
display: inline-block;
width: auto;
padding: 5px;
border-radius: 3px;
margin: 10px auto 10px 50px ;
}
#buttonaddsection{
    color:#c7cdd1;
    background-color: white;
    border:1px solid #c7cdd1 ;
    display: inline-block;
    width: auto;
    border-radius: 3px;
    padding: 5px;
   
    }

    .checkok{
    
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    padding: 3px;
    }

    .checknok{
    
        border: 1px solid red;
        border-radius: 50%;
        color: red;
        padding: 3px;
        }

    .buttonblu{
    
        background-color: #45abe9;
        color:white;
        border-radius: 10px;
        padding: 3px;
    
    }

   
     .container.formatext {
    
        line-height: 35px;

    }  
  .dist{
    padding-bottom: 20px;

}
.buttonviola{
    background-color:#9c72e4;
    color:white;
    border-radius: 10px;
    padding: 3px;
}
.buttongreen{

    background-color:rgb(100, 192, 168);
    color:white;
    border-radius: 10px;
    padding: 3px;
    }
    .buttonorange{

        background-color:rgb(242, 157, 51);
        color:white;
        border-radius: 10px;
        padding: 3px;
        }